@import url("./styles.scss");
@import url("./cart.scss");
@import url("./notfound.scss");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: #a5dddd;
}

main {
  min-height: 80vh;
  margin: 40px 0;
}

.link {
  font-size: 18px;
}
